
html{
   scroll-behavior: smooth
}

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
   
    --pimary-color:#CC181D;
    --black:#171717;
    --max-content-width: 1200px;
  }
}